In [110]:
# chavez & coombs
# 2020-07-16
# cognos_data_management(v1).ipynb
# this script takes jacobs-cognos-output data and transforms its format to make it compatible with the deltek spreadsheet

In [111]:
# import module(s)
import pandas

In [112]:
# read data (from U:\ drive)
# deltek_test_file.csv is an 9-row subset of the actual file output
df = pandas.read_csv("U:\deltek_test_file.csv")

In [113]:
# check memory usage (bytes)
# DataFrame.memory_usage(index=True, deep=False)
df.memory_usage(index=True, deep=True)

Index                 80
User                 675
User Id               72
Work Date            589
Month                589
Description          603
REF ID                72
CLIN                 549
WBS                   72
TASK                  72
TPID                 693
ProjNo                72
WB2                   72
Project Id           657
Pay Type             558
Corporation          540
Company Name         540
Approver             612
Status               594
Straight              72
Overtime              72
Total                 72
Date Time Entered    647
Org Id               603
dtype: int64

In [114]:
# format data
# round floating numbers to two decimal places in python pandas 
pandas.options.display.float_format = '{:.2f}'.format

In [115]:
# fields
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TASK', 'TPID', 'ProjNo', 'WB2', 'Project Id',
       'Pay Type', 'Corporation', 'Company Name', 'Approver', 'Status',
       'Straight', 'Overtime', 'Total', 'Date Time Entered', 'Org Id'],
      dtype='object')

In [116]:
# add ChangeID
df['ChangeID'] = df['ProjNo']
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID
0,"THOMPSON, MORRIS R",51288,9-Sep-19,9-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/9/2019 13:53,1.01.01.01,0
1,"THOMPSON, MORRIS R",51288,13-Sep-19,13-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,4.00,0,4.00,9/12/2019 14:24,1.01.01.01,0
2,"THOMPSON, MORRIS R",51288,25-Sep-19,25-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/25/2019 14:13,1.01.01.01,0

In [117]:
# add option year
df.insert(24, 'OptYr', 'OY.')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,9-Sep-19,9-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/9/2019 13:53,1.01.01.01,0,OY.
1,"THOMPSON, MORRIS R",51288,13-Sep-19,13-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0,4.00,9/12/2019 14:24,1.01.01.01,0,OY.
2,"THOMPSON, MORRIS R",51288,25-Sep-19,25-Sep-19,Asset Mgmt,13976,.00.,nan,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/25/2019 14:13,1.01.01.01,0,OY.

In [118]:
# column A
df['User'].head(3)

0    THOMPSON, MORRIS R
1    THOMPSON, MORRIS R
2    THOMPSON, MORRIS R
Name: User, dtype: object

In [119]:
# column B
df['User Id'].head(3)

0    51288
1    51288
2    51288
Name: User Id, dtype: int64

In [120]:
# column C
# modify workdate format
workdate = pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d')
workdate
df['Work Date'] = workdate
df['Work Date'].head(3)

0    2019-09-09
1    2019-09-13
2    2019-09-25
Name: Work Date, dtype: object

In [121]:
# column D
# modify month format
month = pandas.to_datetime(df['Month']).dt.strftime('%Y-%m')
month
df['Month'] = month
df['Month'].head(3)

0    2019-09
1    2019-09
2    2019-09
Name: Month, dtype: object

In [122]:
# column E
df['Description'].head(3)

0    Asset Mgmt
1    Asset Mgmt
2    Asset Mgmt
Name: Description, dtype: object

In [123]:
# column F
df['REF ID'].head(3)

0    13976
1    13976
2    13976
Name: REF ID, dtype: int64

In [124]:
# column G
# get clin from tpid
clin = df.TPID.str.split(".", expand=True,)[3]
df['CLIN'] = clin
df['CLIN']

0    0016
1    0016
2    0016
3    0016
4    0016
5    0016
6    0016
7    0016
8    0016
Name: CLIN, dtype: object

In [125]:
# column H
# get wbs from tpid
wbs = df.TPID.str.split(".", expand=True,)[4]
df['WBS'] = wbs
df['WBS']

0    514
1    514
2    514
3    514
4    514
5    514
6    514
7    514
8    514
Name: WBS, dtype: object

In [126]:
# column I
df['TPID'].head(3)

0    13976.00.00.0016.514
1    13976.00.00.0016.514
2    13976.00.00.0016.514
Name: TPID, dtype: object

In [127]:
# column J
df['TASK'].head(3)

0    514
1    514
2    514
Name: TASK, dtype: int64

In [128]:
# column K
df['Pay Type'].head(3)

0    R
1    R
2    R
Name: Pay Type, dtype: object

In [129]:
# column L
df['Corporation'].head(3)

0    FNS
1    FNS
2    FNS
Name: Corporation, dtype: object

In [130]:
# column M
df['Company Name'].head(3)

0    FNS
1    FNS
2    FNS
Name: Company Name, dtype: object

In [131]:
# column N
df['Approver'].head(3)

0    S-VAN LUONG
1    S-VAN LUONG
2    S-VAN LUONG
Name: Approver, dtype: object

In [132]:
# column O
df['Status'].head(3)

0    Processed
1    Processed
2    Processed
Name: Status, dtype: object

In [133]:
# column P
df['Straight'].head(3)
df['Straight'].describe()

count   9.00
mean    7.61
std     3.34
min     0.00
25%     9.00
50%     9.00
75%     9.50
max     9.50
Name: Straight, dtype: float64

In [134]:
# column Q
df['Overtime'].head(3)
df['Overtime'].describe()

count   9.00
mean    0.00
std     0.00
min     0.00
25%     0.00
50%     0.00
75%     0.00
max     0.00
Name: Overtime, dtype: float64

In [135]:
# column R
df['Total'].head(3)
df['Total'].describe()

count   9.00
mean    7.61
std     3.34
min     0.00
25%     9.00
50%     9.00
75%     9.50
max     9.50
Name: Total, dtype: float64

In [136]:
# column S
pandas.to_datetime(df['Date Time Entered']).dt.strftime('%Y-%m-%d %h:%m:%s').head(3)

0    2019-09-09 13:53:00
1    2019-09-12 14:24:00
2    2019-09-25 14:13:00
Name: Date Time Entered, dtype: object

In [137]:
# column T
df['Org Id'].head(3)

0    1.01.01.01
1    1.01.01.01
2    1.01.01.01
Name: Org Id, dtype: object

In [138]:
# column U
df['ChangeID'].head(3)

0    0
1    0
2    0
Name: ChangeID, dtype: int64

In [139]:
# column V
# Opt Yr
df['OptYr'].head(3)

0    OY.
1    OY.
2    OY.
Name: OptYr, dtype: object

In [140]:
# write data to csv (default is U:\Documents)
df.to_csv('deltek_test_file-modified.csv')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2019-09-09,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/9/2019 13:53,1.01.01.01,0,OY.
1,"THOMPSON, MORRIS R",51288,2019-09-13,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,4.00,0,4.00,9/12/2019 14:24,1.01.01.01,0,OY.
2,"THOMPSON, MORRIS R",51288,2019-09-25,2019-09,Asset Mgmt,13976,0016,514,514,13976.00.00.0016.514,...,FNS,S-VAN LUONG,Processed,9.00,0,9.00,9/25/2019 14:13,1.01.01.01,0,OY.

In [141]:
# tip 1
# create dataframe with mixed data types
pandas.util.testing.makeMixedDataFrame()

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [142]:
# tip 2
# insert a new column which is a function of another column
dftest = pandas.util.testing.makeMixedDataFrame()
#print(dftest)
dftest.insert(3, 'A2', dftest['A'] * 2)
dftest

     A    B     C   A2          D
0 0.00 0.00  foo1 0.00 2009-01-01
1 1.00 1.00  foo2 2.00 2009-01-02
2 2.00 0.00  foo3 4.00 2009-01-05
3 3.00 1.00  foo4 6.00 2009-01-06
4 4.00 0.00  foo5 8.00 2009-01-07

In [143]:
# tip 3
# insert a new column with a constant value in the column with index 3 (i.e., 4)
dftest = pandas.util.testing.makeMixedDataFrame()
dftest.insert(3, 'Country', 'USA')
dftest

     A    B     C Country          D
0 0.00 0.00  foo1     USA 2009-01-01
1 1.00 1.00  foo2     USA 2009-01-02
2 2.00 0.00  foo3     USA 2009-01-05
3 3.00 1.00  foo4     USA 2009-01-06
4 4.00 0.00  foo5     USA 2009-01-07

In [144]:
# tip 4
# change column names
dftest = pandas.util.testing.makeMixedDataFrame()
dftest
dftest.rename(columns={'A':'ID', 'D':'Date'})

    ID    B     C       Date
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [145]:
# tip 5
# duplicate a column
dftest = pandas.util.testing.makeMixedDataFrame()
dftest['E'] = dftest['C']
dftest

     A    B     C          D     E
0 0.00 0.00  foo1 2009-01-01  foo1
1 1.00 1.00  foo2 2009-01-02  foo2
2 2.00 0.00  foo3 2009-01-05  foo3
3 3.00 1.00  foo4 2009-01-06  foo4
4 4.00 0.00  foo5 2009-01-07  foo5