In [1]:
# chavez & coombs
# 2020-07-27
# cognos_data_management(v2).ipynb
# this script takes jacobs-cognos-output data and transforms its format to make it compatible with the deltek spreadsheet

In [2]:
# import module(s)
import pandas
import os

In [3]:
# current working directory
print(os.getcwd())

\\ain2\dfsroot\userdata48\willitc0\Data

In [4]:
# read data (from U:\ drive)
# cognos data downloaded as excel, which is then saved as a csv file
df = pandas.read_csv("U:\AP2 Regular & OT Hours for Adv by CCC_#505ap.csv")

C:\Program Files\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (1,7,11) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
# format data
# round floating numbers to two decimal places in python pandas 
pandas.options.display.float_format = '{:.2f}'.format

In [6]:
# metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213345 entries, 0 to 213344
Data columns (total 23 columns):
User                 213345 non-null object
User Id              213345 non-null object
Work Date            213345 non-null object
Month                213345 non-null object
Description          213345 non-null object
REF ID               213345 non-null int64
CLIN                 213345 non-null object
WBS                  37598 non-null object
TASK                 213345 non-null object
TPID                 213345 non-null object
ProjNo               213345 non-null object
WB2                  213345 non-null object
Project Id           213345 non-null object
Pay Type             213345 non-null object
Corporation          213345 non-null object
Company Name         213345 non-null object
Approver             213345 non-null object
Status               213345 non-null object
Straight             213345 non-null float64
Overtime             213345 non-null float64
Total                213345 non-null float64
Date Time Entered    213345 non-null object
Org Id               213345 non-null object
dtypes: float64(3), int64(1), object(19)
memory usage: 37.4+ MB

In [7]:
# data snapshot
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Pay Type,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id
0,"SCHNEIDER, LAURA E",10036,"Jul 14, 2020","Jul 14, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,R,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01
1,"SCHNEIDER, LAURA E",10036,"Jul 17, 2020","Jul 17, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,R,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01
2,"SCHNEIDER, LAURA E",10036,"Jul 20, 2020","Jul 20, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,R,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,8.00,0.00,8.00,"Jul 22, 2020 8:30:03 AM",1.01.01.01

In [8]:
# add ChangeID
df['ChangeID'] = df['ProjNo']
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID
0,"SCHNEIDER, LAURA E",10036,"Jul 14, 2020","Jul 14, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01,0
1,"SCHNEIDER, LAURA E",10036,"Jul 17, 2020","Jul 17, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01,0
2,"SCHNEIDER, LAURA E",10036,"Jul 20, 2020","Jul 20, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,FNS,S-MELISSA RONEY-DEMA,Processed,8.00,0.00,8.00,"Jul 22, 2020 8:30:03 AM",1.01.01.01,0

In [9]:
# add option year
df.insert(24, 'OptYr', 'OY.')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"SCHNEIDER, LAURA E",10036,"Jul 14, 2020","Jul 14, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01,0,OY.
1,"SCHNEIDER, LAURA E",10036,"Jul 17, 2020","Jul 17, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,"Jul 17, 2020 6:28:04 AM",1.01.01.01,0,OY.
2,"SCHNEIDER, LAURA E",10036,"Jul 20, 2020","Jul 20, 2020",Standby Only - COVID-19,13976,.01.,NaN,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,8.00,0.00,8.00,"Jul 22, 2020 8:30:03 AM",1.01.01.01,0,OY.

In [10]:
# check data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213345 entries, 0 to 213344
Data columns (total 25 columns):
User                 213345 non-null object
User Id              213345 non-null object
Work Date            213345 non-null object
Month                213345 non-null object
Description          213345 non-null object
REF ID               213345 non-null int64
CLIN                 213345 non-null object
WBS                  37598 non-null object
TASK                 213345 non-null object
TPID                 213345 non-null object
ProjNo               213345 non-null object
WB2                  213345 non-null object
Project Id           213345 non-null object
Pay Type             213345 non-null object
Corporation          213345 non-null object
Company Name         213345 non-null object
Approver             213345 non-null object
Status               213345 non-null object
Straight             213345 non-null float64
Overtime             213345 non-null float64
Total                213345 non-null float64
Date Time Entered    213345 non-null object
Org Id               213345 non-null object
ChangeID             213345 non-null object
OptYr                213345 non-null object
dtypes: float64(3), int64(1), object(21)
memory usage: 40.7+ MB

In [11]:
# column A
df['User'].head(3)

0    SCHNEIDER, LAURA E
1    SCHNEIDER, LAURA E
2    SCHNEIDER, LAURA E
Name: User, dtype: object

In [12]:
# column B
df['User Id'].head(3)

0    10036
1    10036
2    10036
Name: User Id, dtype: object

In [13]:
# column C
# modify workdate format
df['Work Date'] = pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d')
df['Work Date'].head(3)

0    2020-07-14
1    2020-07-17
2    2020-07-20
Name: Work Date, dtype: object

In [14]:
# column D
# modify month format
df['Month'] = pandas.to_datetime(df['Month']).dt.strftime('%Y-%m')
df['Month'].head(3)

0    2020-07
1    2020-07
2    2020-07
Name: Month, dtype: object

In [15]:
# column E
df['Description'].head(3)

0    Standby Only - COVID-19
1    Standby Only - COVID-19
2    Standby Only - COVID-19
Name: Description, dtype: object

In [16]:
# column F
df['REF ID'].head(3)

0    13976
1    13976
2    13976
Name: REF ID, dtype: int64

In [17]:
# Check TPID format
df['TPID'].head(3)

0    13976.00.01.0111.999
1    13976.00.01.0111.999
2    13976.00.01.0111.999
Name: TPID, dtype: object

In [18]:
# column G
# get clin from tpid
df['CLIN'] = df.TPID.str.split(".", expand=True,)[3]
df['CLIN'].head(3)

0    0111
1    0111
2    0111
Name: CLIN, dtype: object

In [19]:
# column H
# get wbs from tpid
df['WBS'] = df.TPID.str.split(".", expand=True,)[4]
df['WBS'].head(3)

0    999
1    999
2    999
Name: WBS, dtype: object

In [20]:
# column I
df['TPID'].head(3)

0    13976.00.01.0111.999
1    13976.00.01.0111.999
2    13976.00.01.0111.999
Name: TPID, dtype: object

In [21]:
# column J
df['TASK'].head(3)

0    999
1    999
2    999
Name: TASK, dtype: object

In [22]:
# column K
df['Pay Type'].head(3)

0    R
1    R
2    R
Name: Pay Type, dtype: object

In [23]:
# column L
df['Corporation'].head(3)

0    FNS
1    FNS
2    FNS
Name: Corporation, dtype: object

In [24]:
# column M
df['Company Name'].head(3)

0    FNS
1    FNS
2    FNS
Name: Company Name, dtype: object

In [25]:
# column N
df['Approver'].head(3)

0    S-MELISSA RONEY-DEMA
1    S-MELISSA RONEY-DEMA
2    S-MELISSA RONEY-DEMA
Name: Approver, dtype: object

In [26]:
# column O
df['Status'].head(3)

0    Processed
1    Processed
2    Processed
Name: Status, dtype: object

In [27]:
# column P
df['Straight'].head(3)

0   0.00
1   0.00
2   8.00
Name: Straight, dtype: float64

In [28]:
# column Q
df['Overtime'].head(3)

0   0.00
1   0.00
2   0.00
Name: Overtime, dtype: float64

In [29]:
# column R
df['Total'].head(3)

0   0.00
1   0.00
2   8.00
Name: Total, dtype: float64

In [30]:
# column S (modify format)
df['Date Time Entered'] = pandas.to_datetime(df['Date Time Entered']).dt.strftime('%Y-%m-%d %h:%m:%s')
df['Date Time Entered'].head(3)

0    2020-07-17 06:28:04
1    2020-07-17 06:28:04
2    2020-07-22 08:30:03
Name: Date Time Entered, dtype: object

In [31]:
# column T
df['Org Id'].head(3)

0    1.01.01.01
1    1.01.01.01
2    1.01.01.01
Name: Org Id, dtype: object

In [32]:
# column U
df['ChangeID'].head(3)

0    0
1    0
2    0
Name: ChangeID, dtype: object

In [33]:
# column V
# Opt Yr
df['OptYr'].head(3)

0    OY.
1    OY.
2    OY.
Name: OptYr, dtype: object

In [34]:
# check data format
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"SCHNEIDER, LAURA E",10036,2020-07-14,2020-07,Standby Only - COVID-19,13976,0111,999,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,2020-07-17 06:28:04,1.01.01.01,0,OY.
1,"SCHNEIDER, LAURA E",10036,2020-07-17,2020-07,Standby Only - COVID-19,13976,0111,999,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,2020-07-17 06:28:04,1.01.01.01,0,OY.
2,"SCHNEIDER, LAURA E",10036,2020-07-20,2020-07,Standby Only - COVID-19,13976,0111,999,999,13976.00.01.0111.999,...,FNS,S-MELISSA RONEY-DEMA,Processed,8.00,0.00,8.00,2020-07-22 08:30:03,1.01.01.01,0,OY.

In [35]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213345 entries, 0 to 213344
Data columns (total 25 columns):
User                 213345 non-null object
User Id              213345 non-null object
Work Date            213345 non-null object
Month                213345 non-null object
Description          213345 non-null object
REF ID               213345 non-null int64
CLIN                 213345 non-null object
WBS                  213345 non-null object
TASK                 213345 non-null object
TPID                 213345 non-null object
ProjNo               213345 non-null object
WB2                  213345 non-null object
Project Id           213345 non-null object
Pay Type             213345 non-null object
Corporation          213345 non-null object
Company Name         213345 non-null object
Approver             213345 non-null object
Status               213345 non-null object
Straight             213345 non-null float64
Overtime             213345 non-null float64
Total                213345 non-null float64
Date Time Entered    213345 non-null object
Org Id               213345 non-null object
ChangeID             213345 non-null object
OptYr                213345 non-null object
dtypes: float64(3), int64(1), object(21)
memory usage: 40.7+ MB

In [36]:
# delete projno column
df = df.drop('ProjNo', 1)

In [37]:
# delete project id column
df = df.drop('Project Id', 1)

In [38]:
# delete wb2 column
df = df.drop('WB2', 1)

In [39]:
# check columns
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TASK', 'TPID', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr'],
      dtype='object')

In [40]:
# modfiy column order
df = df[['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TPID', 'TASK', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr']]

In [41]:
# check columns
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TPID', 'TASK', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr'],
      dtype='object')

In [42]:
# write data to csv (default is U:\Documents)
df.to_csv('AP2 Regular & OT Hours for Adv by CCC_#505ap-modified.csv')

In [43]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213345 entries, 0 to 213344
Data columns (total 22 columns):
User                 213345 non-null object
User Id              213345 non-null object
Work Date            213345 non-null object
Month                213345 non-null object
Description          213345 non-null object
REF ID               213345 non-null int64
CLIN                 213345 non-null object
WBS                  213345 non-null object
TPID                 213345 non-null object
TASK                 213345 non-null object
Pay Type             213345 non-null object
Corporation          213345 non-null object
Company Name         213345 non-null object
Approver             213345 non-null object
Status               213345 non-null object
Straight             213345 non-null float64
Overtime             213345 non-null float64
Total                213345 non-null float64
Date Time Entered    213345 non-null object
Org Id               213345 non-null object
ChangeID             213345 non-null object
OptYr                213345 non-null object
dtypes: float64(3), int64(1), object(18)
memory usage: 35.8+ MB

In [44]:
# data check
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TPID,TASK,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"SCHNEIDER, LAURA E",10036,2020-07-14,2020-07,Standby Only - COVID-19,13976,0111,999,13976.00.01.0111.999,999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,2020-07-17 06:28:04,1.01.01.01,0,OY.
1,"SCHNEIDER, LAURA E",10036,2020-07-17,2020-07,Standby Only - COVID-19,13976,0111,999,13976.00.01.0111.999,999,...,FNS,S-MELISSA RONEY-DEMA,Processed,0.00,0.00,0.00,2020-07-17 06:28:04,1.01.01.01,0,OY.
2,"SCHNEIDER, LAURA E",10036,2020-07-20,2020-07,Standby Only - COVID-19,13976,0111,999,13976.00.01.0111.999,999,...,FNS,S-MELISSA RONEY-DEMA,Processed,8.00,0.00,8.00,2020-07-22 08:30:03,1.01.01.01,0,OY.

In [45]:
# tip 1
# create dataframe with mixed data types
pandas.util.testing.makeMixedDataFrame()

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [46]:
# tip 2
# insert a new column which is a function of another column
dftest = pandas.util.testing.makeMixedDataFrame()
#print(dftest)
dftest.insert(3, 'A2', dftest['A'] * 2)
dftest

     A    B     C   A2          D
0 0.00 0.00  foo1 0.00 2009-01-01
1 1.00 1.00  foo2 2.00 2009-01-02
2 2.00 0.00  foo3 4.00 2009-01-05
3 3.00 1.00  foo4 6.00 2009-01-06
4 4.00 0.00  foo5 8.00 2009-01-07

In [47]:
# tip 3
# insert a new column with a constant value in the column with index 3 (i.e., 4)
dftest = pandas.util.testing.makeMixedDataFrame()
dftest.insert(3, 'Country', 'USA')
dftest

     A    B     C Country          D
0 0.00 0.00  foo1     USA 2009-01-01
1 1.00 1.00  foo2     USA 2009-01-02
2 2.00 0.00  foo3     USA 2009-01-05
3 3.00 1.00  foo4     USA 2009-01-06
4 4.00 0.00  foo5     USA 2009-01-07

In [48]:
# tip 4
# change column names
dftest = pandas.util.testing.makeMixedDataFrame()
dftest
dftest.rename(columns={'A':'ID', 'D':'Date'})

    ID    B     C       Date
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07

In [49]:
# tip 5
# duplicate a column
dftest = pandas.util.testing.makeMixedDataFrame()
dftest['E'] = dftest['C']
dftest

     A    B     C          D     E
0 0.00 0.00  foo1 2009-01-01  foo1
1 1.00 1.00  foo2 2009-01-02  foo2
2 2.00 0.00  foo3 2009-01-05  foo3
3 3.00 1.00  foo4 2009-01-06  foo4
4 4.00 0.00  foo5 2009-01-07  foo5

In [50]:
# tip 6
# determine dataframe datatypes
dftest = pandas.util.testing.makeMixedDataFrame()
dataTypeSeries = dftest.dtypes
print(dataTypeSeries)

A           float64
B           float64
C            object
D    datetime64[ns]
dtype: object

In [51]:
# tip 7
# delete a dataframe column

# df = df.drop('column_name', 1)
# where 1 is the axis number (0 for rows and 1 for columns.)

# To delete the column without having to reassign df you can do:
# df.drop('column_name', axis=1, inplace=True)

# To drop by column number instead of by column label, try this to delete, e.g. the 1st, 2nd and 4th columns:
# df = df.drop(df.columns[[0, 1, 3]], axis=1)  
# df.columns is zero-based pd.Index 

# Working with "text" syntax for the columns:
# df.drop(['column_nameA', 'column_nameB'], axis=1, inplace=True)

dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest.drop('C', 1)
print(dftest)

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07
     A    B          D
0 0.00 0.00 2009-01-01
1 1.00 1.00 2009-01-02
2 2.00 0.00 2009-01-05
3 3.00 1.00 2009-01-06
4 4.00 0.00 2009-01-07

In [52]:
# tip 8
# reorder columns (flipflop column a and column d)
dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest[['D','B','C','A']]
print(dftest)

     A    B     C          D
0 0.00 0.00  foo1 2009-01-01
1 1.00 1.00  foo2 2009-01-02
2 2.00 0.00  foo3 2009-01-05
3 3.00 1.00  foo4 2009-01-06
4 4.00 0.00  foo5 2009-01-07
           D    B     C    A
0 2009-01-01 0.00  foo1 0.00
1 2009-01-02 1.00  foo2 1.00
2 2009-01-05 0.00  foo3 2.00
3 2009-01-06 1.00  foo4 3.00
4 2009-01-07 0.00  foo5 4.00