In [20]:
# chavez & coombs
# cognos_data_management(v1).ipynb
# this script takes jacobs-cognos-output data and transforms its format to make it compatible with the deltek spreadsheet

In [21]:
# import module(s)
import pandas
import datetime

In [22]:
# read data (from U:\ drive)
# chavez.csv is an 9-row subset of the actual file output
df = pandas.read_csv("U:\chavez.csv")

In [23]:
# format data
# round floating numbers to two decimal places in python pandas 
pandas.options.display.float_format = '{:.2f}'.format

In [30]:
# what are the original headers?
print('\n')
print(df.head(0))

Empty DataFrame
Columns: [User, User Id, Work Date, Month, Description, REF ID, CLIN, WBS, TASK, TPID, ProjNo, WB2, Project Id, Pay Type, Corporation, Company Name, Approver, Status, Straight, Overtime, Total, Date Time Entered, Org Id]
Index: []

[0 rows x 23 columns]

In [46]:
# (this will be used in latest deltek spreadsheet column A)
print(df['User'].head(3))

0    THOMPSON, MORRIS R
1    THOMPSON, MORRIS R
2    THOMPSON, MORRIS R
Name: User, dtype: object

In [47]:
# column B
print(df['User Id'].head(3))

0    51288
1    51288
2    51288
Name: User Id, dtype: int64

In [48]:
# column C
print(pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d').head(3))

0    2019-09-09
1    2019-09-13
2    2019-09-25
Name: Work Date, dtype: object

In [49]:
# column D
print(pandas.to_datetime(df['Month']).dt.strftime('%Y-%m').head(3))

0    2019-09
1    2019-09
2    2019-09
Name: Month, dtype: object

In [50]:
# column E
print(df['Description'].head(3))

0    Asset Mgmt
1    Asset Mgmt
2    Asset Mgmt
Name: Description, dtype: object

In [51]:
# column F
print(df['REF ID'].head(3))

0    13976
1    13976
2    13976
Name: REF ID, dtype: int64

In [52]:
# column G (CLIN) has label "3"
print(df.TPID.str.split(".", expand=True,)[3].head(3))

0    0016
1    0016
2    0016
Name: 3, dtype: object

In [53]:
# column H (WBS) has label "3"
print(df.TPID.str.split(".", expand=True,)[4].head(3))

0    514
1    514
2    514
Name: 4, dtype: object

In [54]:
# column I
print(df['TPID'].head(3))

0    13976.00.00.0016.514
1    13976.00.00.0016.514
2    13976.00.00.0016.514
Name: TPID, dtype: object

In [55]:
# column J
print(df['TASK'].head(3))

0    514
1    514
2    514
Name: TASK, dtype: int64

In [57]:
# column K
print(df['Pay Type'].head(3))

0    R
1    R
2    R
Name: Pay Type, dtype: object

In [61]:
# column L
print(df['Corporation'].head(3))

0    FNS
1    FNS
2    FNS
Name: Corporation, dtype: object

In [63]:
# column M
print(df['Company Name'].head(3))

0    FNS
1    FNS
2    FNS
Name: Company Name, dtype: object

In [65]:
# column N
print(df['Approver'].head(3))

0    S-VAN LUONG
1    S-VAN LUONG
2    S-VAN LUONG
Name: Approver, dtype: object

In [67]:
# column O
print(df['Status'].head(3))

0    Processed
1    Processed
2    Processed
Name: Status, dtype: object

In [104]:
# column P
print(df['Straight'].head(3))
df['Straight'].describe()

0   9.00
1   4.00
2   9.00
Name: Straight, dtype: float64

count   9.00
mean    7.61
std     3.34
min     0.00
25%     9.00
50%     9.00
75%     9.50
max     9.50
Name: Straight, dtype: float64

In [105]:
# column Q
print(df['Overtime'].head(3))
df['Overtime'].describe()

0    0
1    0
2    0
Name: Overtime, dtype: int64

count   9.00
mean    0.00
std     0.00
min     0.00
25%     0.00
50%     0.00
75%     0.00
max     0.00
Name: Overtime, dtype: float64

In [106]:
# column R
print(df['Total'].head(3))
df['Total'].describe()

0   9.00
1   4.00
2   9.00
Name: Total, dtype: float64

count   9.00
mean    7.61
std     3.34
min     0.00
25%     9.00
50%     9.00
75%     9.50
max     9.50
Name: Total, dtype: float64

In [86]:
# column S
print(pandas.to_datetime(df['Date Time Entered']).dt.strftime('%Y-%m-%d %h:%m:%s').head(3))

0    2019-09-09 13:53:00
1    2019-09-12 14:24:00
2    2019-09-25 14:13:00
Name: Date Time Entered, dtype: object

In [87]:
# column T
print(df['Org Id'].head(3))

0    1.01.01.01
1    1.01.01.01
2    1.01.01.01
Name: Org Id, dtype: object

In [88]:
# column U
print(df['ProjNo'].head(3))

0    0
1    0
2    0
Name: ProjNo, dtype: int64

In [81]:
# column V
# Opt Yr
print('insert opt yr')

insert opt yr

In [108]:
# write data to csv (default is U:\Documents)
modified_df = df[['User', 'User Id', 'Work Date']]
print(modified_df.head(3))
modified_df.to_csv('deltek.csv')

                 User  User Id  Work Date
0  THOMPSON, MORRIS R    51288   9-Sep-19
1  THOMPSON, MORRIS R    51288  13-Sep-19
2  THOMPSON, MORRIS R    51288  25-Sep-19

In [99]:
# get clin from tpid
clin = df.TPID.str.split(".", expand=True,)[3]
print(clin.head(3))

0    0016
1    0016
2    0016
Name: 3, dtype: object

In [102]:
# get wbs from tpid
wbs = df.TPID.str.split(".", expand=True,)[4]
print(wbs.head(3))

0    514
1    514
2    514
Name: 4, dtype: object