In [1]:
# chavez & coombs
# 2020-07-29
# cognos_1s_management(v1).ipynb
# this script takes jacobs-cognos-output data and transforms its format to make it compatible with the deltek spreadsheet

In [2]:
# import module(s)
import pandas
import os

In [3]:
# current working directory
print(os.getcwd())

\\ain2\dfsroot\userdata48\willitc0\Data

In [4]:
# read data (from U:\ drive)
# cognos data downloaded as excel, which is then saved as a csv file
df = pandas.read_excel (r'U:\import_this_data.xlsx')

In [5]:
# format data
# round floating numbers to two decimal places in python pandas 
# pandas.options.display.float_format = '{:.2f}'.format

In [6]:
# metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 23 columns):
User                 595850 non-null object
User Id              595850 non-null object
Work Date            595850 non-null datetime64[ns]
Month                595850 non-null datetime64[ns]
Description          595850 non-null object
REF ID               595850 non-null object
CLIN                 595850 non-null object
WBS                  9573 non-null object
TASK                 308391 non-null object
TPID                 595850 non-null object
ProjNo               595850 non-null object
WB2                  595832 non-null object
Project Id           595850 non-null object
Pay Type             595850 non-null object
Corporation          595850 non-null object
Company Name         595850 non-null object
Approver             595850 non-null object
Status               595850 non-null object
Straight             595850 non-null float64
Overtime             595850 non-null float64
Total                595850 non-null float64
Date Time Entered    595850 non-null datetime64[ns]
Org Id               595850 non-null object
dtypes: datetime64[ns](3), float64(3), object(17)
memory usage: 104.6+ MB

In [7]:
# data snapshot
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Pay Type,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07-21,Unbillable L&P,1SAP2,UNBL,NaN,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,R,FNS,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19.000,1.01.01.01
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07-24,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,R,FNS,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999,1.01.01.01
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07-31,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,R,FNS,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13.000,1.01.01.01

In [8]:
# add ChangeID
df['ChangeID'] = df['ProjNo']
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Corporation,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07-21,Unbillable L&P,1SAP2,UNBL,NaN,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,FNS,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19.000,1.01.01.01,0
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07-24,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999,1.01.01.01,0
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07-31,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13.000,1.01.01.01,0

In [9]:
# add option year
df.insert(24, 'OptYr', 'OY')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07-21,Unbillable L&P,1SAP2,UNBL,NaN,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19.000,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07-24,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07-31,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13.000,1.01.01.01,0,OY

In [10]:
# check data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 25 columns):
User                 595850 non-null object
User Id              595850 non-null object
Work Date            595850 non-null datetime64[ns]
Month                595850 non-null datetime64[ns]
Description          595850 non-null object
REF ID               595850 non-null object
CLIN                 595850 non-null object
WBS                  9573 non-null object
TASK                 308391 non-null object
TPID                 595850 non-null object
ProjNo               595850 non-null object
WB2                  595832 non-null object
Project Id           595850 non-null object
Pay Type             595850 non-null object
Corporation          595850 non-null object
Company Name         595850 non-null object
Approver             595850 non-null object
Status               595850 non-null object
Straight             595850 non-null float64
Overtime             595850 non-null float64
Total                595850 non-null float64
Date Time Entered    595850 non-null datetime64[ns]
Org Id               595850 non-null object
ChangeID             595850 non-null object
OptYr                595850 non-null object
dtypes: datetime64[ns](3), float64(3), object(19)
memory usage: 113.6+ MB

In [11]:
# column A
df['User'].head(3)

0    THOMPSON, MORRIS R
1    THOMPSON, MORRIS R
2    THOMPSON, MORRIS R
Name: User, dtype: object

In [12]:
# column B
df['User Id'].head(3)

0    51288
1    51288
2    51288
Name: User Id, dtype: object

In [13]:
# column C
# modify workdate format
df['Work Date'] = pandas.to_datetime(df['Work Date']).dt.strftime('%Y-%m-%d')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07-21,Unbillable L&P,1SAP2,UNBL,NaN,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19.000,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07-24,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07-31,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13.000,1.01.01.01,0,OY

In [14]:
# column D
# modify month format
df['Month'] = pandas.to_datetime(df['Month']).dt.strftime('%Y-%m')
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07,Unbillable L&P,1SAP2,UNBL,NaN,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19.000,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07,Asset Management,1SAP2,7400,NaN,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13.000,1.01.01.01,0,OY

In [15]:
# column E
df['Description'].head(3)

0      Unbillable L&P
1    Asset Management
2    Asset Management
Name: Description, dtype: object

In [16]:
# column F
df['REF ID'].head(3)

0    1SAP2
1    1SAP2
2    1SAP2
Name: REF ID, dtype: object

In [17]:
# Check TPID format
df['TPID'].head(3)

0    1SAP2.X.UNBL.000.LPUNBLL
1            1SAP2.C.7400.514
2            1SAP2.C.7400.514
Name: TPID, dtype: object

In [18]:
# column G
# get clin from tpid
df['CLIN'] = df.TPID.str.split(".", expand=True,)[2]
df['CLIN'].head(3)

0    UNBL
1    7400
2    7400
Name: CLIN, dtype: object

In [19]:
# column H
# get wbs from tpid
df['WBS'] = df.TPID.str.split(".", expand=True,)[3]
df['WBS'].head(3)

0    000
1    514
2    514
Name: WBS, dtype: object

In [20]:
# column I
df['TPID'].head(3)

0    1SAP2.X.UNBL.000.LPUNBLL
1            1SAP2.C.7400.514
2            1SAP2.C.7400.514
Name: TPID, dtype: object

In [21]:
# column J
df['TASK'].head(3)

0    LPUNBLL
1        NaN
2        NaN
Name: TASK, dtype: object

In [22]:
# column K
df['Pay Type'].head(3)

0    R
1    R
2    R
Name: Pay Type, dtype: object

In [23]:
# column L
df['Corporation'].head(3)

0    FNS
1    FNS
2    FNS
Name: Corporation, dtype: object

In [24]:
# column M
df['Company Name'].head(3)

0    FNS
1    FNS
2    FNS
Name: Company Name, dtype: object

In [25]:
# column N
df['Approver'].head(3)

0    S-VAN LUONG
1    S-VAN LUONG
2    S-VAN LUONG
Name: Approver, dtype: object

In [26]:
# column O
df['Status'].head(3)

0    Processed
1    Processed
2    Processed
Name: Status, dtype: object

In [27]:
# column P
df['Straight'].head(3)

0    0.0
1    8.0
2    8.0
Name: Straight, dtype: float64

In [28]:
# column Q
df['Overtime'].head(3)

0    0.0
1    0.0
2    0.0
Name: Overtime, dtype: float64

In [29]:
# column R
df['Total'].head(3)

0    0.0
1    8.0
2    8.0
Name: Total, dtype: float64

In [30]:
# column S (modify format)
df['Date Time Entered'] = pandas.to_datetime(df['Date Time Entered']).dt.strftime('%Y-%m-%d %h:%m:%s')
df['Date Time Entered'].head(3)

0           2017-07-20 15:04:19
1    2017-07-24 16:13:24.999000
2           2017-07-31 16:28:13
Name: Date Time Entered, dtype: object

In [31]:
# column T
df['Org Id'].head(3)

0    1.01.01.01
1    1.01.01.01
2    1.01.01.01
Name: Org Id, dtype: object

In [32]:
# column U
df['ChangeID'].head(3)

0    0
1    0
2    0
Name: ChangeID, dtype: object

In [33]:
# column V
# Opt Yr
df['OptYr'].head(3)

0    OY
1    OY
2    OY
Name: OptYr, dtype: object

In [34]:
# check data format
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TASK,TPID,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07,Unbillable L&P,1SAP2,UNBL,000,LPUNBLL,1SAP2.X.UNBL.000.LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07,Asset Management,1SAP2,7400,514,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999000,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07,Asset Management,1SAP2,7400,514,NaN,1SAP2.C.7400.514,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13,1.01.01.01,0,OY

In [35]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 25 columns):
User                 595850 non-null object
User Id              595850 non-null object
Work Date            595850 non-null object
Month                595850 non-null object
Description          595850 non-null object
REF ID               595850 non-null object
CLIN                 595850 non-null object
WBS                  595847 non-null object
TASK                 308391 non-null object
TPID                 595850 non-null object
ProjNo               595850 non-null object
WB2                  595832 non-null object
Project Id           595850 non-null object
Pay Type             595850 non-null object
Corporation          595850 non-null object
Company Name         595850 non-null object
Approver             595850 non-null object
Status               595850 non-null object
Straight             595850 non-null float64
Overtime             595850 non-null float64
Total                595850 non-null float64
Date Time Entered    595850 non-null object
Org Id               595850 non-null object
ChangeID             595850 non-null object
OptYr                595850 non-null object
dtypes: float64(3), object(22)
memory usage: 113.6+ MB

In [36]:
# delete projno column
df = df.drop('ProjNo', 1)

In [37]:
# delete project id column
df = df.drop('Project Id', 1)

In [38]:
# delete wb2 column
df = df.drop('WB2', 1)

In [39]:
# check columns
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TASK', 'TPID', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr'],
      dtype='object')

In [40]:
# modfiy column order
df = df[['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TPID', 'TASK', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr']]

In [41]:
# check columns
df.columns

Index(['User', 'User Id', 'Work Date', 'Month', 'Description', 'REF ID',
       'CLIN', 'WBS', 'TPID', 'TASK', 'Pay Type', 'Corporation',
       'Company Name', 'Approver', 'Status', 'Straight', 'Overtime', 'Total',
       'Date Time Entered', 'Org Id', 'ChangeID', 'OptYr'],
      dtype='object')

In [42]:
# write data to csv (default is U:\Documents)
# df.to_csv('import_this_data-modified.csv')

In [43]:
# check metadata
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 595850 entries, 0 to 595849
Data columns (total 22 columns):
User                 595850 non-null object
User Id              595850 non-null object
Work Date            595850 non-null object
Month                595850 non-null object
Description          595850 non-null object
REF ID               595850 non-null object
CLIN                 595850 non-null object
WBS                  595847 non-null object
TPID                 595850 non-null object
TASK                 308391 non-null object
Pay Type             595850 non-null object
Corporation          595850 non-null object
Company Name         595850 non-null object
Approver             595850 non-null object
Status               595850 non-null object
Straight             595850 non-null float64
Overtime             595850 non-null float64
Total                595850 non-null float64
Date Time Entered    595850 non-null object
Org Id               595850 non-null object
ChangeID             595850 non-null object
OptYr                595850 non-null object
dtypes: float64(3), object(19)
memory usage: 100.0+ MB

In [44]:
# data check
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TPID,TASK,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07,Unbillable L&P,1SAP2,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07,Asset Management,1SAP2,7400,514,1SAP2.C.7400.514,NaN,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999000,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07,Asset Management,1SAP2,7400,514,1SAP2.C.7400.514,NaN,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13,1.01.01.01,0,OY

In [45]:
# tip 1
# create dataframe with mixed data types
pandas.util.testing.makeMixedDataFrame()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [46]:
# tip 2
# insert a new column which is a function of another column
dftest = pandas.util.testing.makeMixedDataFrame()
#print(dftest)
dftest.insert(3, 'A2', dftest['A'] * 2)
dftest

     A    B     C   A2          D
0  0.0  0.0  foo1  0.0 2009-01-01
1  1.0  1.0  foo2  2.0 2009-01-02
2  2.0  0.0  foo3  4.0 2009-01-05
3  3.0  1.0  foo4  6.0 2009-01-06
4  4.0  0.0  foo5  8.0 2009-01-07

In [47]:
# tip 3
# insert a new column with a constant value in the column with index 3 (i.e., 4)
dftest = pandas.util.testing.makeMixedDataFrame()
dftest.insert(3, 'Country', 'USA')
dftest

     A    B     C Country          D
0  0.0  0.0  foo1     USA 2009-01-01
1  1.0  1.0  foo2     USA 2009-01-02
2  2.0  0.0  foo3     USA 2009-01-05
3  3.0  1.0  foo4     USA 2009-01-06
4  4.0  0.0  foo5     USA 2009-01-07

In [48]:
# tip 4
# change column names
dftest = pandas.util.testing.makeMixedDataFrame()
dftest
dftest.rename(columns={'A':'ID', 'D':'Date'})

    ID    B     C       Date
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [49]:
# tip 5
# duplicate a column
dftest = pandas.util.testing.makeMixedDataFrame()
dftest['E'] = dftest['C']
dftest

     A    B     C          D     E
0  0.0  0.0  foo1 2009-01-01  foo1
1  1.0  1.0  foo2 2009-01-02  foo2
2  2.0  0.0  foo3 2009-01-05  foo3
3  3.0  1.0  foo4 2009-01-06  foo4
4  4.0  0.0  foo5 2009-01-07  foo5

In [50]:
# tip 6
# determine dataframe datatypes
dftest = pandas.util.testing.makeMixedDataFrame()
dataTypeSeries = dftest.dtypes
print(dataTypeSeries)

A           float64
B           float64
C            object
D    datetime64[ns]
dtype: object

In [51]:
# tip 7
# delete a dataframe column

# df = df.drop('column_name', 1)
# where 1 is the axis number (0 for rows and 1 for columns.)

# To delete the column without having to reassign df you can do:
# df.drop('column_name', axis=1, inplace=True)

# To drop by column number instead of by column label, try this to delete, e.g. the 1st, 2nd and 4th columns:
# df = df.drop(df.columns[[0, 1, 3]], axis=1)  
# df.columns is zero-based pd.Index 

# Working with "text" syntax for the columns:
# df.drop(['column_nameA', 'column_nameB'], axis=1, inplace=True)

dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest.drop('C', 1)
print(dftest)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07
     A    B          D
0  0.0  0.0 2009-01-01
1  1.0  1.0 2009-01-02
2  2.0  0.0 2009-01-05
3  3.0  1.0 2009-01-06
4  4.0  0.0 2009-01-07

In [52]:
# tip 8
# reorder columns (flipflop column a and column d)
dftest = pandas.util.testing.makeMixedDataFrame()
print(dftest)
dftest = dftest[['D','B','C','A']]
print(dftest)

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07
           D    B     C    A
0 2009-01-01  0.0  foo1  0.0
1 2009-01-02  1.0  foo2  1.0
2 2009-01-05  0.0  foo3  2.0
3 2009-01-06  1.0  foo4  3.0
4 2009-01-07  0.0  foo5  4.0

In [53]:
df.head(3)

,User,User Id,Work Date,Month,Description,REF ID,CLIN,WBS,TPID,TASK,...,Company Name,Approver,Status,Straight,Overtime,Total,Date Time Entered,Org Id,ChangeID,OptYr
0,"THOMPSON, MORRIS R",51288,2017-07-21,2017-07,Unbillable L&P,1SAP2,UNBL,000,1SAP2.X.UNBL.000.LPUNBLL,LPUNBLL,...,FNS,S-VAN LUONG,Processed,0.0,0.0,0.0,2017-07-20 15:04:19,1.01.01.01,0,OY
1,"THOMPSON, MORRIS R",51288,2017-07-24,2017-07,Asset Management,1SAP2,7400,514,1SAP2.C.7400.514,NaN,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-24 16:13:24.999000,1.01.01.01,0,OY
2,"THOMPSON, MORRIS R",51288,2017-07-31,2017-07,Asset Management,1SAP2,7400,514,1SAP2.C.7400.514,NaN,...,FNS,S-VAN LUONG,Processed,8.0,0.0,8.0,2017-07-31 16:28:13,1.01.01.01,0,OY

In [54]:
df.to_excel (r'U:\import_this_data_1s-modified.xlsx', index = False, header=True)